name: Sample

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sample:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Sample
        run: echo 'sample'
